@font-face {
    font-family: Arial;
    src: url(../fonts/Arial.woff) format('woff');
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu-v11-latin-regular.woff) format('woff');
}
/*************************
*******Main******
**************************/
body {
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
}
.main-content {
    margin: 20px auto;
}
.main-content.container {
    max-width: 940px;
}
.alert {
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 0.55rem 1.25rem;
    margin-bottom: 1.4rem;
}
.alert-dismissible .close {
    padding: 15px 18px;
}
.alert-info {
    color: rgb(70, 89, 147);
    background-color: rgb(242, 245, 255);
    border-color: rgb(242, 245, 255);
}
button.check-btn {
    margin: 0 25px;
    width: 130px;
    border-radius: 3px;
    border-color: rgb(218, 227, 255);
    background-color: rgb(218, 227, 255);
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(70, 89, 147);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.8px;
    word-spacing: -1.8px;
}
button.check-btn:hover, .btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle, button.check-btn:focus {
    background: #ffffff;
    border-color: rgb(70, 89, 147);
    color: rgb(70, 89, 147);
}
.hidden {
    display: none;
}
.special-r-padding-12 {
    padding-right: 12px;
}
.special-l-padding-8 {
    padding-left: 8px;
}
.special-padding-12 {
    padding-right: 12px;
    padding-left: 12px;
}
.special-padding-15-8 {
    padding-left: 15px;
    padding-right: 8px;
}
.special-padding-8-15 {
    padding-left: 8px;
    padding-right: 15px;
}
/*************************
*******SIDEBAR******
**************************/
.star-sidebar {
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(208, 216, 239);
    padding: 1.25rem 10px;
}
h1.star-title {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(70, 89, 147);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 2.35;
    margin-bottom: 6px;
    letter-spacing: 0;
}
.star-body {
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: rgb(70, 89, 147);
}
.star-body strong {
    font-weight: bold;
    padding-left: 6px;
}
.star-body a {
    text-decoration: underline;
    color: rgb(70, 89, 147);
}
.star-body p {
    margin-bottom: 3px;
}
.star-body hr {
    margin-top: 1.6rem;
    margin-bottom: 1.35rem;
    border-top: 1px solid rgb(208, 216, 239);
    width: 90%;
}
.star-activities {
    padding: 2px 2px;
}
.star-body p.star-description {
    padding-left: 8px;
    letter-spacing: 0.4px;
    line-height: 22.5px;
    margin-bottom: 12px;
}
/*************************
*******MAIN VIDEO******
**************************/
.rangeslider{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 10px;
    width: 20%;
}
.rangeslider__fill,.rangeslider__fill__bg,.rangeslider__handle{
    display:block;
    position:absolute;
    top:50%;
    height:2px;
    z-index:2;
    background:rgb(70, 89, 147);
    border-radius:10px;
    will-change:width
}
.rangeslider__handle {
    will-change: width,height,top;
    width: 2px;
    height: 10px;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: width .1s ease-in-out,height .1s ease-in-out,top .1s ease-in-out;
    transition: width .1s ease-in-out,height .1s ease-in-out,top .1s ease-in-out;
}
.rangeslider__handle:active{background:rgb(70, 89, 147);}
.rangeslider__fill__bg{background:#ccc;width:100%}
.rangeslider--disabled{opacity:.4}
.controls {
    font-size: 14px;
    font-family: "Arial",sans-serif;
    color: rgb(70, 89, 147);
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 22px;
}
.controls #duration, .controls #currenttime-txt {
    font-weight: normal;
    padding-left: 26px;
}
.controls #duration {
    color: rgba(70, 89, 147, 0.2)
}
.controls .fav, .controls .download {
    display: inline-block;
    float: right;
}
.controls .fav img {
    padding-right: 10px;
}
.controls .fav {
    line-height: 38px;
    float: left;
    padding-left: 28px;
    cursor: pointer;
    letter-spacing: 0.6px;
}
.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}
.btn-group.show-on-hover button {
    background-color: #d9e3ff;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: rgb(70, 89, 147);
    font-weight: bold;
    width: 143px;
    height: 40px;
    z-index: 2;
    letter-spacing: 0.6px;
}
.show-on-hover.download img {
    float: left;
    padding: 3px 2px;
    margin-right: 8px;
}
.show-on-hover .dropdown-menu {
    padding: 23px 0 0 0;
    top: 18px;
    font-size: 14px;
    color: rgb(70, 89, 147);
    background-color: #f2f4ff;
    border: none;
    border-radius: 3px;
    z-index: 1;
    min-width: unset;
    width: 100%;
}
.show-on-hover .dropdown-menu a {
    color: rgb(70, 89, 147);
    text-decoration: none;
}
.show-on-hover li {
    line-height: 15px;
    padding: 7px 15px 7px;
}
.show-on-hover li:hover {
    background-color: #d9e3ff;
    cursor: pointer;
}
#play, #pause {
    padding-left: 20px;
    line-height: 38px;
    cursor: pointer;
}
span.action-status {
    min-width: 32px;
    box-sizing: initial;
    display: inline-block;
}
#volume-label {
    padding-left: 29px;
    padding-right: 10px;
    min-width: 20px;
    box-sizing: initial;
}
.video-block {
    position: relative;
    min-width: 100%;
    height: 0;
    padding-bottom: 75%;
    background: #000;
    border-radius: 3px;
}
#main-play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    cursor: pointer;
}
video#video, video.related-video {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    width: 100%;
    height: auto;
}
/*************************
*******RELATED******
**************************/
.related h1 {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(70, 89, 147);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 2.3;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    letter-spacing: 0;
}
.related hr {
    display: inline-block;
    width: 70%;
    margin: 10px 0;
    border-color: rgb(208, 216, 239);
}
.related .related-preview-description {
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: rgb(70, 89, 147);
    font-weight: bold;
    margin: 9px 0;
    letter-spacing: 0.6px;
    display: block;
}
.related span.social-icon {
    position: absolute;
    bottom: 13%;
    left: 9%;
    cursor: pointer;
}
/*************************
*******MEDIA QUERIES******
**************************/
@media (min-width: 999px) {
    .main-content.container {
        padding: 0;
    }
}
@media (max-width: 999px) {
    .related hr {
        display: none
    }
}
@media (max-width: 767px) {
    .special-r-padding-12 {
        padding-right: 15px;
    }
    .special-l-padding-8 {
        padding-left: 15px;
    }
    .special-padding-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .special-padding-15-8 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .special-padding-8-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .controls .fav {
        padding-left: 15px;
    }
}

