@media (max-width: 999px) {
    .header-title h1 span {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .header-title h1, .header-title h1 span {
        font-size: 9vw;
    }
}
@media (max-width: 1005px) and (min-width: 950px) {
    #services .line > div {
        max-width: 280px;
        padding: 0 10px 0 0;
    }
}
@media (max-width: 1099px) and (min-width: 991px) {
    .nav-link {
        font-size: 2.5vw;
    }
}
@media (max-width: 710px) {
    #strategy .strategy-square {
        display: none;
    }
}
@media (max-width: 710px) and (min-width: 576px){
    #services h2.header-services {
        font-size: 40px;
        padding: 20px 0;
    }
}
@media (max-width: 575px) {
    #services h2.header-services {
        font-size: 30px;
        padding: 30px;
        text-align: center;
    }
}
@media (max-width: 949px) {
    #services .line > div {
        display: block;
        text-align: center;
        max-width: none;
    }
    footer {
        min-height: 30vh;
    }
}
@media (min-width: 949px) and (max-width: 1150px){
    footer {
        min-height: 40vh;
    }
}
@media (max-width: 991px) {
    .navbar-light.opened .navbar-nav .nav-link {
        opacity: 1;
    }
    .navbar-light .navbar-nav .nav-link {
        opacity: 0;
    }
}
@media (max-width: 500px) {
    #strategy .left {
        padding: 10px;
    }
    p.text-strategy {
        display: block;
        padding: 0;
        text-align: left;
        margin: 0;
        word-break: break-all;
    }
    h2.header-strategy {
        float: none;
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
}
